<footer>
  <ul class="nav justify-content-center">
  <li class="nav-item">
    <p class="text-md-center mt-2">Site desenvolvido por Gustavo Dias para fins didáticos.</p>
  </li>
  <li class="nav-item">
    <a href="https://www.linkedin.com/in/gustavo-dias-681182120/" class="nav-link link-secondary" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-secondary" href = https://github.com/silvagustavodias target="_blank"><i class="fa-brands fa-github"></i> GitHub acess</a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-secondary" href="mailto: silvagustavodias@gmail.com"><i class="fa-solid fa-envelope"></i> silvagustavodias@gmail.com</a>
  </li>
</ul>
</footer>