{% extends 'base.html'%}

{% block body%}
<div class="container-fluid border mt-5">
    <hr>
    <div class = 'row'>
        <div class = 'col'>
            <form method="POST" action="" class="border p-2 ps-3" >
                {{form.csrf_token}}
                <legend>Resposta</legend>
                <fieldset class="pb-2">
                           <div class="form-group">
                        {{form.comentario.label(class="form-control-label")}}
                        {% if form.comentario.errors %}
                            {{form.comentario(class="form-control is-invalid")}}
                            <div class="invalid-feedback">
                                {%for erro in form.comentario.errors%}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                               <div class="h-100" style ="width: 100%">
                                     {{form.comentario(class="form-control")}}
                               </div>
                        {% endif %}
                            </div>
                </fieldset>
                {{form.botao_submit_post(class="btn btn-primary")}}
            </form>
        </div>
    </div>
</div>

{% endblock%}