{% extends 'base.html'%}

{% block body%}

    <div class="container border">
        <h1>Usuários</h1>
        {% for row in list_users|batch(5)%}
        <div class="'row border justify-content-center">
            {% for usuario in row %}
            <div class="col-3 border">
                <div class="container mt-5 d-flex justify-content-center">
                    <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" alt={{url_for('static', filename='fotos_perfil/default.png')}} class="rounded" width="200" >
                <div class="card p-3 border">
                    <div class="d-flex align-items-center">
                        <div class="image me-2">
                            <div class="ml-3 w-100">
                                <h4 class="mb-0 mt-0">{{ usuario.username }}</h4>
                                <span> {{ usuario.email }}</span>
                                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                     <div class="d-flex flex-column">
                                        <span class="articles">Posts</span>
                                        <span class="number1">38</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                         <span class="rating">Interesses</span>
                                        <span class="number3">{{usuario.interesses.split(';')|length}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col" style="text-align: center">
                    <strong> Interesses </strong><br>
                    {% for interesse in usuario.interesses.split(';') %}
                        <button type="button" class="btn btn-success mt-2" disabled>{{interesse}}</button>
                    {% endfor %}
                </div>
            </div>
          </div>
        {% endfor %}

        </div>

    </div>

        {% endfor %}


<div class="row mb-5"></div>
{% endblock%}
